<!DOCTYPE html>
<html lang="en">
<head>
  <title>UserPage</title>
  <link rel="stylesheet" type="text/css" href="/static/css/user.css">
</head>
<body>
    <a href="/accounts/login/"><h1>Login</h1></a>
    <!-- DO NOT CHANGE THIS (aside from styling) -->
    <form action="<FIXME_ACCOUNTS_URL_HERE>?target=<FIXME_INDEX_URL_HERE>" method="post" enctype="multipart/form-data">
      <h3>Photo</h3><input type="file" name="file" required/>
      <h3>Name</h3><input type="text" name="fullname" required/>
      <h3>Username</h3><input type="text" name="username" required/>
      <h3>Email</h3><input type="text" name="email" required/>
      <h3>Password</h3><input type="password" name="password" required/>
      <input type="submit" name="signup" value="sign up"/>
      <input type="hidden" name="operation" value="create"/>
    </form>
    <h2>Have an account? <a href="/accounts/login/">Log in</a></h2>
</body>
</html>