<!DOCTYPE html>
<html lang="en">
<head>
  <title>UserPage</title>
  <link rel="stylesheet" type="text/css" href="/static/css/follow.css">
</head>
<body>
    <a href="/"><h1>Homepage</h1></a>
    <a href="/explore/"><h1>Explore</h1></a>
    <a href="/users/{{ logname }}/"><h1>{{ logname }}</h1></a>
    <h1>Discover People</h1>
    {% for username, info in res.items() %}
        <div class="container">
            <div class="user-info">
                <div id="leftimg">
                    <img src="{{ url_for('send_image', filename=info['filename']) }}" alt="pic" />
                </div>
                <a href="/users/{{ username }}/"><h1>{{ username }}</h1></a>
            </div>
            <div class="follow-info">
                <form action="{{ url_for('following_post', target=request.path) }}" method="post" enctype="multipart/form-data">
                    <input type="submit" name="follow" value="follow"/>
                    <input type="hidden" name="username" value="{{ username }}"/>
                    <input type="hidden" name="operation" value="follow"/>
                </form>
            </div>
        </div>
    {% endfor %}
</body>
</html>
