<!DOCTYPE html>
<html lang="en">
<head>
  <title>UserPage</title>
  <link rel="stylesheet" type="text/css" href="/static/css/follow.css">
</head>
<body>
    <a href="/"><h1>Homepage</h1></a>
    <a href="/explore/"><h1>Explore</h1></a>
    <a href="/users/{{ logname }}/"><h1>{{ logname }}</h1></a>
    <h1>Following</h1>
    {% for follower in following %}
        <div class="container">
            <div class="user-info">
                <div id="leftimg">
                    <img src="{{ url_for('send_image', filename=follower.filename) }}" alt="pic" />
                </div>
                <a href="/users/{{ follower.username2 }}/"><h1>{{ follower.username2 }}</h1></a>
            </div>
            <div class="follow-info">
                {% if logname != follower.username2 %}
                    {% if follower.username2 not in check|map(attribute='username2') %}
                        <span>not following</span>
                        <form action="{{ url_for('following_post', target=request.path) }}" method="post" enctype="multipart/form-data">
                            <input type="submit" name="follow" value="follow"/>
                            <input type="hidden" name="username" value="{{ follower.username1 }}"/>
                            <input type="hidden" name="operation" value="follow"/>
                        </form>
                    {% else %}
                        <span>following</span>
                        <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
                        <form action="{{ url_for('following_post', target=request.path) }}" method="post" enctype="multipart/form-data">
                            <input type="submit" name="unfollow" value="unfollow"/>
                            <input type="hidden" name="username" value="{{ follower.username1 }}"/>
                            <input type="hidden" name="operation" value="unfollow"/>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</body>
</html>
