<!DOCTYPE html>
<html lang="en">
<head>
  <title>myPage</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
  <h1>Homepage</h1>
  {% for postid, post in posts_with_comments.items() %}
    <div class="container">
      <div class="leftimg">
        <img src="{{ url_for('send_image', filename=post['post_details']['owner_filename']) }}" alt="pic" style="width:42px;height:42px;"/>
      </div>
      <div class="left">
        {{ post['post_details']['post_owner'] }} 
      </div>
      <div class="right">
        {{ post['post_details']['post_created'] }}
      </div>
      <div id="postimg">
        <img src="{{ url_for('send_image', filename=post['post_details']['post_filename']) }}" alt="post"/>
      </div>
    </div>
  {% endfor %}
</body>
</html>
