<!DOCTYPE html>
<html lang="en">
<head>
  <title>UserPage</title>
  <link rel="stylesheet" type="text/css" href="/static/css/user.css">
</head>
<body>
    <a href="/"><h1>Homepage</h1></a>
    <a href="/explore/"><h1>Explore</h1></a>
    <a href="/users/{{ logname }}/"><h1>{{ logname }}</h1></a>
    <div class="container">
        <h1>{{ username }}</h1>
        {% if logname == username %}
            <a href="/accounts/edit/"><h2>Edit profile</h2></a>
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="{{ url_for('logout_post', target=request.path) }}" method="post" enctype="multipart/form-data">
                <input type="submit" name="logout" value="Logout"/>
            </form>
        {% else %}
            {% if follow_bool[0] %}
                following 
                <form action="{{ url_for('following_post', target=request.path) }}" method="post" enctype="multipart/form-data">
                  <input type="submit" name="unfollow" value="unfollow"/>
                  <input type="hidden" name="username" value="{{ username }}"/>
                  <input type="hidden" name="operation" value="unfollow"/>
                </form>
            {% else %}
                not following
                <form action="{{ url_for('following_post', target=request.path) }}" method="post" enctype="multipart/form-data">
                    <input type="submit" name="follow" value="follow"/>
                    <input type="hidden" name="username" value="{{ username }}"/>
                    <input type="hidden" name="operation" value="follow"/>
                </form>
            {% endif %}
        {% endif %}
        {% if post_details[0].post_count == 1 %}
            {{ post_details[0].post_count }} post
        {% else %}
            {{ post_details[0].post_count }} posts
        {% endif %}
        {% if follower_count[0].count == 1 %}
            <a href="/users/{{ username }}/followers/">{{ follower_count[0].count }} follower</a>
        {% else %}
            <a href="/users/{{ username }}/followers/">{{ follower_count[0].count }} followers</a>
        {% endif %}
        <a href="/users/{{ username }}/following/">{{ following_count[0].count }} following</a>
        <h2>{{ fullname[0].fullname }}</h2>
        {% if logname == username %}
            <div class="innercontainer">
                <form action="{{ url_for('post_post', target=request.path) }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" accept="image/*" required/>
                    <input type="submit" name="create_post" value="upload new post"/>
                    <input type="hidden" name="operation" value="create"/>
                  </form>

            </div>
        {% endif %}
    
        {% if post_details[0].post_count == 0 %}
            No posts yet
        {% else %}
            <div class="post-gallery">
                {% for file in filename %}
                    <a href="/posts/{{ file.id }}"><img src="{{ url_for('send_image', filename=file.filename) }}" alt="post"/></a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>
</html>